/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/*.js
/storage/*.key
/vendor
package-lock.json
yarn.lock
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
